<html>
<head>
<body id="navigation">
    <header>
      <div class="container">
    <nav>
      <ul>
      <li><a href="http://ruby-1-chrischelleee.c9users.io:8080/">Home</a></li>
      <li><a href="http://ruby-1-chrischelleee.c9users.io:8080/gallery">Gallery</a></li>
      <li><a href="http://ruby-1-chrischelleee.c9users.io:8080/empowering-words">Empowering Words</a></li>
      <li><a href="http://ruby-1-chrischelleee.c9users.io:8080/need-help">Need Help?</a></li>
      </ul>
    </nav>
      </div>
    </header>
 </body>
</head>

<head>
  <style>
      
    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: #DAB4D1;
      padding: 10px;
    }
    .grid-item {
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 25px;
      text-align: center;
    }
    h1 {
        text-align: center;
        color: #707070;
        }      
  </style>
</head>

<body>

<h1>We adore pretty things and witty words. Quotes from women who empower us.</h1>

<div class="grid-container">
  <div class="grid-item">Eleanor Roosevelt: "A woman is like a tea bag—you never know how strong she is until she gets in hot water."</div>
 
  <div class="grid-item">G.D. Anderson: "Feminism isn't about making women strong. Women are already strong. It's about changing the way the world perceives that strength."</div>
  <div class="grid-item">Mary Kay: “You can do anything in this world that you want to do, if you want to do it badly enough and you are willing to pay the price.”</div>
  <div class="grid-item">Lena Dunham: "Feminists believe that men and women should have the same opportunities. If you are a feminist you believe in equal rights as a whole. That’s not a concept you can really shoot down."</div>
  <div class="grid-item">Rebecca West: “I myself have never been able to find out precisely what feminism is: I only know that people call me a feminist whenever I express sentiments that differentiate me from a doormat.”</div>
  
  <div class="grid-item">Kerry Washington: "I realized that I don't have to be perfect. All I have to do is show up and enjoy the messy, imperfect, and beautiful journey of my life."</div>
  <div class="grid-item">Brigham Young: "You educate a man; you educate a man. You educate a woman; you educate a generation."</div>
  
  <div class="grid-item">Coco Chanel: "You can be gorgeous at thirty, charming at forty, and irresistible, for the rest of your life."</div>  
  <div class="grid-item">Emma Watson: "Feminism is not here to dictate to you. It’s not prescriptive, it’s not dogmatic. All we are here to do is give you a choice."</div> 
  <div class="grid-item">P!nk: "It's about being alive and feisty and not sitting down and shutting up, even if people would like you to."</div> 
  <div class="grid-item">Maya Angelou: "Each time a woman stands up for herself, she stands up for all women."</div>
  <div class="grid-item">Ellen DeGeneres: "The truth is, we are all one connected thing. We are all from the same exact molecules.</div>  
  <div class="grid-item">Anne Hathaway: "You cannot live your life to please others. The choice must be yours"</div>  
  <div class="grid-item">Gloria Steinem: "Some of us are becoming the men we wanted to marry."</div>  
  <div class="grid-item">Beyoncé: "Be healthy and take care of yourself, but be happy with the beautiful things that make you, you."</div>  
  <div class="grid-item">Lilly Singh: "Nah, you can do better than that. Stop being wacksauce."</div> 
  <div class="grid-item">Ellen DeGeneres: "Beauty is about being comfortable in your own skin. It's about knowing and accepting who you are."</div>  
  <div class="grid-item">Janis Joplin: "Don’t compromise yourself. You are all you’ve got. There is no yesterday, no tomorrow, it’s all the same day."</div>
  <div class="grid-item">Michelle Obama: "Do what works for you, because there will always be someone who thinks differently."</div>
  <div class="grid-item">Gloria Steinem: "A feminist is anyone who recognizes the equality and full humanity of women and men."</div>
  
  <div class="grid-item">Lena Dunham: “The idea of being a feminist- so many women have come to this idea of it being anti-male and not able to connect with the opposite sex – but what feminism is about is equality and human rights.”</div
</div>

<!--<p>Set the <em>display</em> property to <em>grid</em> to make a block-level grid container.</p>-->

</body>

  <foot>Copyright © 2018
HERSTORY

 All Rights Reserved
</foot>
</html>

<style>
#navigation {
text-align: center;
margin: 0;
font-weight: 400;
font-family: "courier", "courier body copy", "courier Header";
}


.container {
width: 80%;
margin: 0 auto;
}

header {
background: #8E8B8B;
}

header::after {
content: '';
display: table;
clear: both;
}

nav {float: center;}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
display: inline-block;
text-align: center;
margin-left: 40px;
padding-top: 23px;
padding-bottom: 23px;
position: relative;
}

nav > ul > li > a {
color: white;
text-decoration: none;
text-transform: uppercase;
}

nav a:hover {
color: white
}

nav a::before {
content: '';
display: block;
height: 5px;
width: 100%;
background-color: white;

position: absolute;
top: 0;
width: 0%
}

nav a:hover::before {
width: 100%
}

foot {
</style>
