<!DOCTYPE html>
<html>
<head>
    
<head>

<body id="navigation">
    <header>
      <div class="container">
    <nav>
      <ul>
      <li> <a href="http://ruby-1-chrischelleee.c9users.io:8080/">Home</a> </li>
      <li> <a href="http://ruby-1-chrischelleee.c9users.io:8080/gallery">Gallery</a> </li>
      <li> <a href="http://ruby-1-chrischelleee.c9users.io:8080/empowering-words">Empowering Words</a> </li>
      <li> <a href="http://ruby-1-chrischelleee.c9users.io:8080/need-help">Need Help?</a> </li>
      </ul>
    </nav>
      </div>
    </header>
 </body>
 
<div class="front">
</div>
<title>HERSTORY</title>
</head>
<body>


<h1>Welcome to HERSTORY</h1>
<f>Welcome to HERSTORY. We are trying to build a community where women are free to empower each other every day by sharing what inspires them. Share your story, a favorite quote, or picture below and help build our gallery or navigate over to our gallery to explore what our women have shared. You can even check out the women who inspire us every day on our Empowering Words page. If you feel that you or a friend need help or are struggling with suicidal thoughts or depression, please go to our Need Help page to access emergency hotlines and information pages that can help you.</f>
<f>Thank you for helping us build a community of empowered women.</f>
<f>Please keep in mind that our website has a strict no negativity policy. Any negativity that we find will be taken down immediately.</f>

<z>Please keep in mind that our website has a strict no negativity policy. Any negativity that we find will be taken down immediately.</z>


</body>
    <meta charset="utf-8">
    <link rel="stylesheet" href="parallax.css">
  </head>
  <body>
    <div class="parallax">
      <div class="square">
        <p>Add to our community here! You can add text or an image. You don't have to add both, if you don't wish to.</p>
        <form method="POST" action="/submission">
          <p>Enter your pseudonym:</p>
          <p><input type="text" name="pseudonym"></p>
          <p>What text inspires you?</p>
          <p> <input type="text" name="content1" size="50"></p>
          <p>What image inspires you?</p>
          <p> <input type="file" name="content2"
          accept="image/png, image/jpeg"></p>
          <input type="Submit">
        </form>
        </div>
    </div>
    <div class="block">
      <h1>About the Creators</h1>
      <a>We built this website in order to empower more young girls and women. The four of us were empowered during Kode with Klossy to explore our talents and embrace being a woman in our world. We all knew we wanted to spread the love to more women. HERSTORY is meant to provide a safe place for women to share ideas and stories that empower them with the rest of the world. Together we can build a community that grows by bringing itself up. Empowered women empower women.</a>
    <a>Please keep in mind, as you’re using this site, that we want to build a positive community. Any negative contributions will be taken down from the website immediately.</a>
    <p>XOXO The Fembots</p>
    <p>(Tara, Jayda, Maddie, and Rosie)</p>
    </div>
    <div class="parallax2">
      <!--<div class="scroll">-->
      <!--  <p>Words</p>-->
      </div>
    </div>
  </body>
  <foot>Copyright © 2018
HERSTORY

 All Rights Reserved
</foot>
</html>

<style>
f{font-size: 20px; line-height: 25px; text-align: center;}
c{font-size: 20px; line-height: 30px;}
z{visibility: hidden;}

p{line-height: 1.6px;
  font-size: 20px;
}
foot{font: arial;
font-size: 16px;
}
.front{
background: url('http://i67.tinypic.com/keajrm.jpg')
no-repeat center;
background-size: cover;
background-attachment: fixed;
width: 1500px;
height: 1000px
}
/*https://preview.ibb.co/dTep0T/Herst_ry.jpg*/

.parallax{
background: url('http://i64.tinypic.com/9sdj61.jpg')
no-repeat center;
background-size: cover;
background-attachment: fixed;
width: 1424px;
height: 1300px
}
/*width: 1424px;*/
/*https://preview.ibb.co/iWSZjo/better_fembots_wtrmk.jpg*/

.square{
  width: 1400px;
  margin: 0 auto;
  background: #707070;
  font-size: 20px;
  padding: 25px;
}

.parallax2{
background: url('http://i68.tinypic.com/71sc5i.jpg')
no-repeat center;
background-size: cover;
background-attachment: fixed;
height: 800px
}
/*https://images.pexels.com/photos/1068523/pexels-photo-1068523.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940*/
<a href="http://tinypic.com?ref=71sc5i" target="_blank"><img src="http://i68.tinypic.com/71sc5i.jpg" border="0" alt="Image and video hosting by TinyPic"></a>

.block{
background: #707070;
margin: 0 auto;
max-width:1500px;
font-size: 16px;
padding: 25px;
font-style:Verdana;
    
}

/*.scroll{*/
/*  max-width: 1500px;*/
/*  margin: 0 auto;*/
/*  background: #707070;*/
/*  font-size: 24px;*/
/*  padding: 25px;*/
/*}*/


/*https://i1.wp.com/womenportals.com/wp-content/uploads/2017/09/women-empowerment-11-e1504791498242.jpg?fit=663%2C316*/
/*http://www.actiongroup.com.ar/wp-content/uploads/2017/12/1e3137ebda392b2050824bab4ef9aa09-empowering-woman-women-quotes-empowering-feminism.jpg*/

/*body{
margin: 0;}
#parallax2
{background: url('http://www.actiongroup.com.ar/wp-content/uploads/2017/12/1e3137ebda392b2050824bab4ef9aa09-empowering-woman-women-quotes-empowering-feminism.jpg')
  no-repeat center')}*/
</style>
<style>
    h1
    {
        color: White;
        text-align: center;
    }
    body
    {
        background-color:#F8AACF;
        color: white;
        text-align: center;
        @font-face {font-family: watermelon_script; src: url('Watermelon Script Demo.TTF');} 
        /*font-family: Georgia;*/
        font-size: 22px;
        text-shadow:
    -.001px -.001px 0 #E5E4E2,
    .001px -.001px 0 #E5E4E2,
    -.001px .001px 0 #E5E4E2,
    .001px .001px 0 #E5E4E2;  
  
    }
  
    /*#54B9A6*/
/*#F8AACF pink*/
/*#707070 grey*/
/*#DAB4D1 mauve*/

/*NAVIGATION BAR*/
</style>

<style>
#navigation {
margin: 0;
font-weight: 100;
font-family: "courier", "courier body copy", "courier Header";
}


.container {
width: 80%;
margin: 0 auto;
}

header {
background: #8E8B8B;
}

header::after {
content: '';
display: table;
clear: both;
}

nav {float: center;}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
display: inline-block;
text-align: center;
margin-left: 40px;
padding-top: 23px;
padding-bottom: 23px;
position: relative;
}

nav > ul > li > a {
color: white;
text-decoration: none;
text-transform: uppercase;
}

nav a:hover {
color: white
}

nav a::before {
content: '';
display: block;
height: 5px;
width: 100%;
background-color: white;

position: absolute;
top: 0;
width: 0%
}

nav a:hover::before {
width: 100%
}
</style>



