
<head>
    <title>Herstory</title>
</head>
<body>
<h1>Thank you!</h1>

<h3>Your submission has successfully been added to our community. Your contribution will help empower women everywhere, everyday.</h3>

<!--<button type="button" method="get" action="/">Go Back</button>-->

<div id="back-button">
  <a href='/'>HOME</a>
</div>

</body>

</html>
<style>
    h1
    {
        color: White;
        text-align: center;
    }
    body
    {
        background-color:#DAB4D1;
        color: white;
        text-align: center;
    }
    #back-button
    {
        font: Helvetica;
        margin: auto;
        border-style: solid;
        width: 60px;
        height: 18px;
        color: white;
    }
</style>
